name: Pull Requests

on: pull_request
jobs:
  ci-build:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 10
    - run: git fetch --no-tags --prune --depth=10 origin main
    - name: Install development dependencies
      run: sudo apt-get install libx11-dev libxft-dev libxinerama-dev build-essential
    - name: build
      run: make
  clang-lint:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: DoozyX/clang-format-lint-action@v0.11
        with:
          source: '.'
          extensions: 'h,c'
          clangFormatVersion: 11
          style: file
  cppcheck:
    runs-on: ubuntu-20.04
    steps:
      - name: cppcheck
        uses: deep5050/cppcheck-action@main
        with:
          github_token: ${{ secrets.GITHUB_TOKEN}}
      - name: publish report
        uses: mikeal/publish-to-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH_NAME: 'main' # your branch name goes here
